.exp {
  background-color: aqua;
  /* border: 2px solid red; */
}

.exp h3 {
  border: 2px solid purple;
}
.newName {
  background-color: chartreuse;
}
a {
  text-decoration: none;
  margin: 0.6rem;
}
